<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rookie_wrapped_up">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="菜鸟裹裹"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/btn_style" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shop_pick_up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigationList_01" />
        <activity android:name=".NavigationList_02" />
        <activity android:name=".Login" />
        <activity android:name=".package_notification_settings"></activity>
        <activity android:name=".my_address_book"></activity>
        <activity android:name=".mypage"></activity>
    </application>

</manifest>